.main-about {
  padding: 40px 20px;
  background-color: #fff;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-container {
  max-width: 800px;
  margin: auto;
  line-height: 1.7;
}

.head1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #ff4081;
}

.para1 {
  font-size: 1.1rem;
  text-align: justify;
}

.footer {
  background-color: #222;
  color: white;
  padding: 30px 20px;
  margin-top: 60px;
  text-align: center;
}

.footer-content h2 {
  margin-bottom: 10px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  vertical-align: middle;
  border-radius: 20%;
}

.social-icons a:hover img {
  opacity: 0.8;
  transform: scale(1.1); 
   transition: all 0.2s ease-in-out;
}
